body {
    font-family: Arial, sans-serif;
    background-color: #09c3fc;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #310a0a;
  }
  
  form {
    background-color: rgb(241, 135, 135);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }